<div class="test">
    <h5>Nav bars</h5>
    <ul class="list">
        <li>
            <a href="#">map</a>
        </li>
        <li>
            <a href="#">graph</a>
        </li>
    </ul>
</div>
