<nav class="menu">
    <a href="http://localhost:3000/waste" class="menu__item" data-tooltip="Map">
        <i class="material-icons">map</i>
    </a>
    <a href="http://localhost:3000/wastes" class="menu__item" data-tooltip="Statistics">
        <i class="material-icons">show_chart</i>
    </a>
    <a href="http://localhost:3000/account/logout" class="menu__item" data-tooltip="Logout">
        <i class="material-icons">logout</i>
    </a>
</nav>
