.map {
    height: 100%;
    width: auto;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}
#map {
    height: 100%;
    position: relative;
    z-index: 1;
}
#infor {
    height: 300px;
    width: 300px;
    display: none;
    z-index: 2;
    background-color: aqua;
    position: absolute;
}