
<div class="map">
    <div id="infor">
        <h3 id="name"></h3>
        <input type="hidden" name="name" id="nameInput" />
        <input type="hidden" name="id" id="idInput" />
        <input type="hidden" name="state" id="stateInput" />
        <input type="hidden" name="cap" id="capInput" />
        <br>
        <h4>Capacity: <h4 id="cap"></h4></h4>
        <h4>State: <h4 id="state"></h4></h4>        
        <input type="button" id="openBtn" value="Open" onclick="sendWs()" />
    </div>
    <div id="map"></div> 
</div>
<script>
    
    
    var loc = decodeURIComponent("{{{list}}}");
    loc = JSON.parse(loc);
    console.log(loc);
    console.log(loc[0].lat);
    
    
</script>
