body {
	background-color: none;
}

 {
	color: navy;
	margin-left: 20px;
}
title {
	font: serif;
}

#button {
	margin-left: 100px;
	background-color: #000;
    border: .5px solid crimson;
    border-radius: 40px;
    color: #fff;
    padding: 30px;
    box-shadow: 0 0 50px 0 crimson,
                0 0 50px 0 crimson,
                0 0 20px 0 crimson inset;
    z-index: 5;
    position: absolute;
}
#map {
	z-index: 1;
	position: relative; 
	object-fit: cover;
	height: 1000px;
}